/* Responsividade */
@media (max-width: 768px) {
    .form-container {
        padding: 30px;
    }

    .send-btn {
        font-size: 14px;
    }

    .menu-toggle-btn {
        top: 15px;
        right: 15px;
    }
}
